/* Ajustar el tamaño del canvas */
#herramientasChart {
    width: 400px;
    height: 0px;
    max-width: 100%;
    margin: auto;
}

/* Estilos para el encabezado */

.header {
    display: flex;
    align-items: center;
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;
}

/* Estilos para la tabla */

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/* Estilos para el usuario */

.usuario {
    font-size: 25px;
    color: #006766; /* Verde petróleo */
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilos para los estados en la sección Estado de herramienta */

ul li.green {
    color: green;
}

ul li.red {
    color: red;
}

ul li.orange {
    color: orange;
}

ul li.black {
    color: black;
}

/* Estilos para los estados en la tabla */

td.green {
    color: green;
}

td.red {
    color: red;
}

td.orange {
    color: orange;
}

td.black {
    color: black;
}

/* Estilos para los botones */

.button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease; /* Transición suave para el efecto hover */
}

.button.green {
    background-color: #4CAF50; /* Verde claro */
}

.button.green:hover {
    background-color: #45a049; /* Color más oscuro en hover */
}

.button.grey {
    background-color: #808080; /* Gris */
}

.button.grey:hover {
    background-color: #696969; /* Color más oscuro en hover */
}

/* Estilos para los botones en la esquina superior derecha */
.top-right-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px; /* Espacio entre botones */
}

/* Estilos para el contenedor */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; /* Elimina el margen inferior para evitar un espacio adicional */
}

/* Estilos para el contenedor del estado */
.estado-container {
    margin-right: 20px; /* Espacio entre el estado y el gráfico */
}

/* Estilos para el contenedor del gráfico */
.chart-container {
    margin-left: 50px;
    flex-grow: 1; /* El contenedor del gráfico ocupará todo el espacio disponible */
}
/* Estilos para el contenedor de fondo */
.background-container {
    background-color: #ffffff; /* Gris sutil */
    padding: 20px; /* Espacio interior para separar el contenido del borde */
    margin-bottom: 20px; /* Ajusta el margen inferior */
}